*{
  font-family: Roboto;
  color: #282828;
  margin: 0px;
  padding: 0px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.elementsSpacer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8% 10% 8% 10%;
}

.spacer {
  padding: 0 20% 0 20%;
  font-size: 1.4em;
}

.date {
  display: flex;
  align-items: center;
}

@media (max-width: 880px) {
  .elementsSpacer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    padding: 25px;
  }
  .spacer {
    padding: 5px;
  }
}

.branding svg {
  width: 100%;
  height: auto;
} 
