:root {
  --primary: #282828;
  --secondary: #E04887;
  --tertiary: #653BFF;
}

*{
  font-family: Roboto;
  color: var(--primary);
  margin: 0px;
  padding: 0px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.elementsSpacer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10% 8% 10%;
}

.spacer {
  padding: 0 20% 0 20%;
  font-size: 1.4em;
}

.brandingMobile {
  display: none;
}

.date {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 881px){
  .elementsSpacer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    padding: 25px;
  }
  .spacer {
    padding: 5px;
  }
  .brandingDesktop{
    display: none;
  }
  .brandingMobile{
    display: block;
  }
}

