* {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

:root {
  --portfolio-primary: #282828;
  --portfolio-secondary: #fff;
  background-color: var(--portfolio-secondary);
  color: var(--portfolio-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --portfolio-primary: #fff;
    --portfolio-secondary: #282828;
    background-color: var(--portfolio-secondary);
    color: var(--portfolio-primary);
  }
}

a {
  text-decoration: none;
  color: var(--portfolio-primary);
  transition: border-color 0.35s ease-out;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.elementsSpacer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8% 10% 8% 10%;
}

.spacer {
  padding: 0 12% 0 12%;
  font-size: 1.2em;
}

.footer-spacer {
  padding: 0 2px;
}

.vert {
  margin-top: 2.5px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 880px) {
  .elementsSpacer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    padding: 25px;
  }
  .spacer {
    padding: 5px;
  }
}

.branding svg {
  width: 100%;
  height: auto;
}

.dropdown {
  display: inline-block;
  position: relative;
  outline: none;
}

.dropdown-button {
  white-space: nowrap;
  cursor: pointer;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 50%;
  background-color: #fff;
  color: var(--portfolio-primary);
  min-width: 200%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-out;
}

.dropdown .dropdown-content a {
  color: #282828;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: 0.35s ease-out;
}

.dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
  opacity: 1;
}

.dropdown .dd2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.dropdown:focus .dd2 {
  display: inline-block;
}

.dropdown .dd2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}
