:root {
    --dark: #2b2a2f;
    --med: #504f57;
    --light: #6c6b75;
    --purple: #241a59;
    --white: #FFFFFF;
    --accent: #E21B5A;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Link information */
a:link {
    color: var(--white);
    text-decoration: none;
}
a:visited {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    color: var(--white);
    text-decoration: none;
}
a:active {
    color: var(--white);
    text-decoration: none;
}

/* Header Classes */
.bodyData {
    display: flex;
    justify-content: center;
    border: 2px  var(--dark) solid;
    margin: 0px 15% 0px 15%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerData {
    display: flex;
    border-radius: 20px 2px;
    justify-content: center;
    width: 600px;
}

.headerPosition {
    display: flex;
    justify-content: center;
    margin: 7% 0px 7% 0px ;
}

.iconAlign {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-around;
    margin: 4px;
    font-weight: 100;
    font-size: 18px;
}
    .info a:link {
        color: var(--accent);
        padding: 3px;
        text-decoration: none;
    }
    .info a:visited {
        color: var(--dark);
        text-decoration: none;
    }
    
    .info a:hover {
        transition: 200ms ease 150ms;
        color: var(--accent);        
    }

.info a.highlighted {
    color: var(--white);
    background-color: var(--accent);
    border-radius: 2px 2px 2px 2px;
    text-decoration: none;
}

.info a.highlighted:hover {
    border-bottom: 0;
}

.info .highlighted a:visited {
    color: var(--white);
    text-decoration: none;
}

.info-alt {
    display: flex;
    margin: 2px 0px 1.25px 0px;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px 2px 15px 2px;
    background-color: var(--light);
    color: var(--white);
    padding: 5px 0px 5px 0px;
    font-weight: 900;
    font-size: 17px;
}

.logo {
    margin: 20px
}

.nameBackground {
    background-color: var(--med);
    padding: 7px;
    border-radius: 15px 2px 2px 2px;
}
.notLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post {
    font-weight: 900;
    font-size: 25px;
}

/* Body Classes */

.grid{
    display: grid;
    grid-gap: 10px;
    width: 85vw;
    grid-template-columns: 1fr 1fr 1fr
}

.devGrid{
    display: grid;
    grid-gap: 10px;
    width: 85vw;
    grid-template-columns: 1fr 1fr 1fr
}

.devGrid a:link {
    color: var(--accent);
    padding: 3px;
    text-decoration: none;
}
.devGrid a:visited {
    color: var(--accent);
    text-decoration: none;
}

.devGrid a:hover {
    transition: 200ms ease 150ms;
    color: var(--accent);        
}

/* Footer Classes */
.footerData {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    margin: 2% 0px 2% 0px;
    font-weight: 300;
}

.imageStyle {
    width: 100%;
}

.nameSize {
    height: 50px
}

.center {
    display: flex;
    justify-content: center;
    
}

/* Misc Classes */
.centerAltVo {
    display: flex;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.figureClass {
    margin: 0px 5px 0px 5px;
}

.centerAltImage {
    display: flex;
    justify-content: center;
}

.centerAlt {
    display: flex;
    justify-content: center;
    height: 350px;
}

/* maybe trip this at around 1430? Test plz. Just updated a bit. Looks slightly jank on ipad. Take a look at that? ALSO- Nathan suggested using MUI - https://material-ui.com/customization/breakpoints/*/
@media screen and (max-width: 768px){
    .logo { display: none; }
    .nameSize { height: 35px }
    .centerAlt { height: 150px}
    .centerAltVo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}