:root {
    --dark: #2b2a2f;
    --med: #504f57;
    --light: #6c6b75;
    --purple: #241a59;
    --white: #FFFFFF;
    --accent: #E21B5A;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Link information */
a:link {
    color: var(--white);
    text-decoration: none;
}
a:visited {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    color: var(--white);
    text-decoration: none;
}
a:active {
    color: var(--white);
    text-decoration: none;
}


/* Header Classes */
.bodyData {
    display: flex;
    justify-content: center;
    border: 2px  var(--dark) solid;
    margin: 0px 15% 0px 15%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerData {
    display: flex;
    border-radius: 20px 2px;
    justify-content: center;
    width: 600px;
}

.headerPosition {
    display: flex;
    justify-content: center;
    margin: 7% 0px 7% 0px ;
}

.iconAlign {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-around;
    margin: 4px;
    font-weight: 100;
    font-size: 18px;
}
    .info a:link {
        color: var(--accent);
        padding: 3px;
        text-decoration: none;
    }
    .info a:visited {
        color: var(--dark);
        text-decoration: none;
    }
    
    .info a:hover {
        transition: 150ms ease 100ms;
        border-bottom: 3px solid var(--accent);
        border-radius: 0px 0px 1.5px 1.5px;
        
    }

.info a.highlighted {
    color: var(--white);
    background-color: var(--accent);
    border-radius: 2px 2px 2px 2px;
    text-decoration: none;
}

.info a.highlighted:hover {
    border-bottom: 0;
}

.info .highlighted a:visited {
    color: var(--white);
    text-decoration: none;
}

.info-alt {
    display: flex;
    margin: 2px 0px 1.25px 0px;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px 2px 15px 2px;
    background-color: var(--light);
    color: var(--white);
    padding: 5px 0px 5px 0px;
    font-weight: 900;
    font-size: 17px;
}

.logo {
    margin: 20px
}

.nameBackground {
    background-color: var(--med);
    margin: 0;
    padding: 7px;
    border-radius: 15px 2px 2px 2px;
}
.notLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post {
    font-weight: 900;
    font-size: 25px;
}

/* Body Classes */

.bodyContentClass {
    display: flex;
    flex-direction: column;
    color: var(--dark);
    padding: 2% 15% 2% 15%;    
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 400px
  }

.columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imageTest {
    /* need width to be responsive */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* need to fix the row so the height is not stupid */
    height: 700px;
  }
  
/* Footer Classes */
.footerData {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    margin: 1% 0px 1% 0px
}